PubOrchInHouseContentApplicationProject/PubOrchInHouseContentBPELProject/bpelContent/PubOrchInHouseContentIBMSService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://ws.wso2.org/dataservice" xmlns:ns1="http://model.skytv.co.nz/puborch-productiondef/v1" xmlns:ns3="http://model.skytv.co.nz/vod/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://service.skytv.co.nz/ibms/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.skytv.co.nz/ibms/v1">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service.skytv.co.nz/ibms/v1">
            <xs:import namespace="http://model.skytv.co.nz/puborch-productiondef/v1"></xs:import>
            <xs:import namespace="http://model.skytv.co.nz/vod/v1"></xs:import>
            <xs:element name="GetVideoTypes">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetVideoTypesResponse" type="ns0:GetVideoTypesResponse"></xs:element>
            <xs:complexType name="GetVideoTypesResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:assetType"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetVodTitleByTitleID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="titleId" nillable="true" type="xs:double"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetVodTitleResponse" type="ns0:GetVodTitleResponse"></xs:element>
            <xs:complexType name="GetVodTitleResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns3:Title"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetVodMediaMetadata">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="mediaID" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetVodMediaMetadataResponse" type="ns0:GetVodMediaMetadataResponse"></xs:element>
            <xs:complexType name="GetVodMediaMetadataResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns3:Media"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://model.skytv.co.nz/puborch-productiondef/v1">
            <xs:element name="assetType" type="ns1:assetType"></xs:element>
            <xs:complexType name="assetType">
                <xs:sequence>
                    <xs:element name="assetTypeId" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="mediaType" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="url" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"></xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"></xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://model.skytv.co.nz/vod/v1">
            <xs:element name="Title" type="ns3:Title"></xs:element>
            <xs:complexType name="Title">
                <xs:sequence>
                    <xs:element name="titleId" nillable="true" type="xs:long"></xs:element>
                    <xs:element name="title" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="episodeNumber" nillable="true" type="xs:long"></xs:element>
                    <xs:element name="yearOfProduction" nillable="true" type="xs:long"></xs:element>
                    <xs:element name="type" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="distributor" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="contentProviderId" nillable="true" type="xs:long"></xs:element>
                    <xs:element name="state" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="seriesId" nillable="true" type="xs:long"></xs:element>
                    <xs:element name="seriesName" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="seriesYear" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="synopsis" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="lastUpdateDate" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Media" type="ns3:Media"></xs:element>
            <xs:complexType name="Media">
                <xs:sequence>
                    <xs:element name="titleId" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="titleName" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="certification" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="duration" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="audioType" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="aspectRatio" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="screenFormat" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="mediaID" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetVideoTypesRequest">
        <wsdl:part name="parameters" element="ns0:GetVideoTypes"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetVideoTypesResponse">
        <wsdl:part name="parameters" element="ns0:GetVideoTypesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns2:DataServiceFault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetVodMediaMetadataRequest">
        <wsdl:part name="parameters" element="ns0:GetVodMediaMetadata"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetVodMediaMetadataResponse">
        <wsdl:part name="parameters" element="ns0:GetVodMediaMetadataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetVodTitleByTitleIDRequest">
        <wsdl:part name="parameters" element="ns0:GetVodTitleByTitleID"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetVodTitleByTitleIDResponse">
        <wsdl:part name="parameters" element="ns0:GetVodTitleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PubOrchInHouseContentIBMSServicePortType">
        <wsdl:operation name="GetVideoTypes">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:GetVideoTypesRequest" wsaw:Action="urn:GetVideoTypes"></wsdl:input>
            <wsdl:output message="ns0:GetVideoTypesResponse" wsaw:Action="urn:GetVideoTypesResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:GetVideoTypesDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetVodMediaMetadata">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:GetVodMediaMetadataRequest" wsaw:Action="urn:GetVodMediaMetadata"></wsdl:input>
            <wsdl:output message="ns0:GetVodMediaMetadataResponse" wsaw:Action="urn:GetVodMediaMetadataResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:GetVodMediaMetadataDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetVodTitleByTitleID">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:GetVodTitleByTitleIDRequest" wsaw:Action="urn:GetVodTitleByTitleID"></wsdl:input>
            <wsdl:output message="ns0:GetVodTitleByTitleIDResponse" wsaw:Action="urn:GetVodTitleByTitleIDResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:GetVodTitleByTitleIDDataServiceFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PubOrchInHouseContentIBMSServiceSOAP11Binding" type="ns0:PubOrchInHouseContentIBMSServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="GetVideoTypes">
            <soap:operation soapAction="urn:GetVideoTypes" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetVodMediaMetadata">
            <soap:operation soapAction="urn:GetVodMediaMetadata" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetVodTitleByTitleID">
            <soap:operation soapAction="urn:GetVodTitleByTitleID" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PubOrchInHouseContentIBMSServiceSOAP12Binding" type="ns0:PubOrchInHouseContentIBMSServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="GetVideoTypes">
            <soap12:operation soapAction="urn:GetVideoTypes" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetVodMediaMetadata">
            <soap12:operation soapAction="urn:GetVodMediaMetadata" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetVodTitleByTitleID">
            <soap12:operation soapAction="urn:GetVodTitleByTitleID" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PubOrchInHouseContentIBMSServiceHttpBinding" type="ns0:PubOrchInHouseContentIBMSServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="GetVideoTypes">
            <http:operation location="GetVideoTypes"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetVodMediaMetadata">
            <http:operation location="GetVodMediaMetadata"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetVodTitleByTitleID">
            <http:operation location="GetVodTitleByTitleID"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PubOrchInHouseContentIBMSService">
        <wsdl:port name="IbmsSOAP11Endpoint" binding="ns0:PubOrchInHouseContentIBMSServiceSOAP11Binding">
            <soap:address location="http://localhost:9769/services/PubOrchInHouseContentIBMSService.SOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IbmsSecureSOAP11Endpoint" binding="ns0:PubOrchInHouseContentIBMSServiceSOAP11Binding">
            <soap:address location="https://localhost:9449/services/PubOrchInHouseContentIBMSService.SecureSOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IbmsSecureSOAP12Endpoint" binding="ns0:PubOrchInHouseContentIBMSServiceSOAP12Binding">
            <soap12:address location="https://localhost:9449/services/PubOrchInHouseContentIBMSService.SecureSOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IbmsSOAP12Endpoint" binding="ns0:PubOrchInHouseContentIBMSServiceSOAP12Binding">
            <soap12:address location="http://localhost:9769/services/PubOrchInHouseContentIBMSService.SOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IbmsHTTPEndpoint" binding="ns0:PubOrchInHouseContentIBMSServiceHttpBinding">
            <http:address location="http://localhost:9769/services/PubOrchInHouseContentIBMSService.HTTPEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="IbmsSecureHTTPEndpoint" binding="ns0:PubOrchInHouseContentIBMSServiceHttpBinding">
            <http:address
	location="https://localhost:9449/services/PubOrchInHouseContentIBMSService.SecureHTTPEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>