PubOrchMediaNotificatoinApplicationProject/PubOrchMediaNotificationBPELProject/bpelContent/MediaNotificationMpxTransformService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://model.skytv.co.nz/vod/v1" xmlns:ns1="http://service.skytv.co.nz/puborch-transform/v1"
	xmlns:ns3="http://model.skytv.co.nz/puborch-productiondef/v1" xmlns:sky="http://xml.theplatform.com/media/data/sky" xmlns:plingestmf="http://xml.theplatform.com/ingest/data/IngestMediaFile"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:media="http://search.yahoo.com/mrss/" xmlns:plfile="http://xml.theplatform.com/media/data/MediaFile" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://service.skytv.co.nz/puborch-transform/v1">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.skytv.co.nz/puborch-transform/v1">
			<xs:import namespace="http://model.skytv.co.nz/vod/v1"></xs:import>
			<xs:import namespace="http://model.skytv.co.nz/puborch-productiondef/v1"></xs:import>
			<xs:import namespace="http://xml.theplatform.com/media/data/sky"></xs:import>
			<xs:import namespace="http://search.yahoo.com/mrss/"></xs:import>
			<xs:import namespace="http://xml.theplatform.com/media/data/MediaFile"></xs:import>
			<xs:import namespace="http://xml.theplatform.com/ingest/data/IngestMediaFile"></xs:import>
			<xs:element name="TransformRequest" type="ns1:TransformRequest"></xs:element>
			<xs:complexType name="TransformRequest">
				<xs:sequence>
					<xs:element name="fromType" type="xs:string"></xs:element>
					<xs:element name="toType" type="xs:string"></xs:element>
					<xs:element name="source">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ns2:Media"></xs:element>
								<xs:element name="videos">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="unbounded" minOccurs="0" ref="ns3:assetType"></xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="TransformResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rss">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="channel">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="item">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="guid">
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="xs:string">
																			<xs:attribute name="isPermaLink" type="xs:boolean" use="required"></xs:attribute>
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="title" type="xs:string"></xs:element>
															<xs:element ref="sky:mediaId"></xs:element>
															<xs:element ref="media:rating"></xs:element>
															<xs:element maxOccurs="unbounded" ref="sky:advisory"></xs:element>
															<xs:element ref="sky:audioType"></xs:element>
															<xs:element ref="media:group"></xs:element>
															<xs:element ref="media:thumbnail"></xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="version" type="xs:decimal" use="required"></xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://xml.theplatform.com/media/data/sky">
			<xs:import namespace="http://service.skytv.co.nz/puborch-transform/v1"></xs:import>
			<xs:element name="mediaId" type="xs:string"></xs:element>
			<xs:element name="advisory" type="xs:string"></xs:element>
			<xs:element name="audioType" type="xs:string"></xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://search.yahoo.com/mrss/">
			<xs:import namespace="http://service.skytv.co.nz/puborch-transform/v1"></xs:import>
			<xs:import namespace="http://xml.theplatform.com/media/data/MediaFile"></xs:import>
			<xs:import namespace="http://xml.theplatform.com/ingest/data/IngestMediaFile"></xs:import>
			<xs:element name="rating" type="xs:string"></xs:element>
			<xs:element name="group" type="media:group"></xs:element>
			<xs:complexType name="group">
				<xs:sequence>
					<xs:element minOccurs="0" ref="media:content"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="content" type="media:content"></xs:element>
			<xs:complexType name="content">
				<xs:sequence>
					<xs:element ref="plfile:assetType"></xs:element>
					<xs:element ref="plingestmf:deleted"></xs:element>
				</xs:sequence>
				<xs:attribute name="medium" type="xs:string" use="required"></xs:attribute>
				<xs:attribute name="url" type="xs:string" use="required"></xs:attribute>
			</xs:complexType>
			<xs:element name="thumbnail" type="media:thumbnail"></xs:element>
			<xs:complexType name="thumbnail">
				<xs:sequence>
					<xs:element ref="plfile:assetType"></xs:element>
					<xs:element ref="plingestmf:deleted"></xs:element>
				</xs:sequence>
				<xs:attribute name="medium" type="xs:string" use="required"></xs:attribute>
				<xs:attribute name="url" type="xs:string" use="required"></xs:attribute>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://xml.theplatform.com/media/data/MediaFile">
			<xs:import namespace="http://service.skytv.co.nz/puborch-transform/v1"></xs:import>
			<xs:element name="assetType" type="xs:string"></xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://xml.theplatform.com/ingest/data/IngestMediaFile">
			<xs:import namespace="http://service.skytv.co.nz/puborch-transform/v1"></xs:import>
			<xs:element name="deleted" type="xs:boolean"></xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://model.skytv.co.nz/vod/v1">
			<xs:element name="Media" type="ns2:Media"></xs:element>
			<xs:complexType name="Media">
				<xs:sequence>
					<xs:element name="guid" type="xs:string"></xs:element>
					<xs:element name="titleId" type="xs:long"></xs:element>
					<xs:element name="titleName" type="xs:string"></xs:element>
					<xs:element name="certification" type="xs:string"></xs:element>
					<xs:element name="duration" type="xs:string"></xs:element>
					<xs:element name="audioType" type="xs:string"></xs:element>
					<xs:element name="aspectRatio" type="xs:string"></xs:element>
					<xs:element name="screenFormat" type="xs:string"></xs:element>
					<xs:element name="mediaId" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://model.skytv.co.nz/puborch-productiondef/v1">
			<xs:element name="assetType" type="ns3:assetType"></xs:element>
			<xs:complexType name="assetType">
				<xs:sequence>
					<xs:element name="assetTypeId" type="xs:long"></xs:element>
					<xs:element name="description" type="xs:string"></xs:element>
					<xs:element name="mediaType" type="xs:string"></xs:element>
					<xs:element name="details" type="xs:string"></xs:element>
					<xs:element name="url" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="TransformRequest">
		<wsdl:part name="parameters" element="ns1:TransformRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TransformResponse">
		<wsdl:part name="parameters" element="ns1:TransformResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MediaNotificationMpxTransformServicePortType">
		<wsdl:operation name="Transform">
			<wsdl:input message="ns1:TransformRequest" wsaw:Action="urn:Transform"></wsdl:input>
			<wsdl:output message="ns1:TransformResponse" wsaw:Action="http://service.skytv.co.nz/puborch-transform/v1/MediaNotificationMpxTransformPortType/TransformResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MediaNotificationMpxTransformServiceSoap11Binding" type="ns1:MediaNotificationMpxTransformServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<wsdl:operation name="Transform">
			<soap:operation soapAction="urn:Transform" style="document"></soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MediaNotificationMpxTransformServiceSoap12Binding" type="ns1:MediaNotificationMpxTransformServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
		<wsdl:operation name="Transform">
			<soap12:operation soapAction="urn:Transform" style="document"></soap12:operation>
			<wsdl:input>
				<soap12:body use="literal"></soap12:body>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"></soap12:body>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MediaNotificationMpxTransformServiceHttpBinding" type="ns1:MediaNotificationMpxTransformServicePortType">
		<http:binding verb="POST"></http:binding>
		<wsdl:operation name="Transform">
			<http:operation location="Transform"></http:operation>
			<wsdl:input>
				<mime:content type="text/xml" part="parameters"></mime:content>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters"></mime:content>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MediaNotificationMpxTransformService">
		<wsdl:port name="MediaNotificationMpxTransformServiceHttpsSoap11Endpoint" binding="ns1:MediaNotificationMpxTransformServiceSoap11Binding">
			<soap:address location="https://localhost:8244/services/MediaNotificationMpxTransformService.MediaNotificationMpxTransformServiceHttpsSoap11Endpoint"></soap:address>
		</wsdl:port>
		<wsdl:port name="MediaNotificationMpxTransformServiceHttpSoap11Endpoint" binding="ns1:MediaNotificationMpxTransformServiceSoap11Binding">
			<soap:address location="http://localhost:8281/services/MediaNotificationMpxTransformService.MediaNotificationMpxTransformServiceHttpSoap11Endpoint"></soap:address>
		</wsdl:port>
		<wsdl:port name="MediaNotificationMpxTransformServiceHttpSoap12Endpoint" binding="ns1:MediaNotificationMpxTransformServiceSoap12Binding">
			<soap12:address location="http://localhost:8281/services/MediaNotificationMpxTransformService.MediaNotificationMpxTransformServiceHttpSoap12Endpoint"></soap12:address>
		</wsdl:port>
		<wsdl:port name="MediaNotificationMpxTransformServiceHttpsSoap12Endpoint" binding="ns1:MediaNotificationMpxTransformServiceSoap12Binding">
			<soap12:address location="https://localhost:8244/services/MediaNotificationMpxTransformService.MediaNotificationMpxTransformServiceHttpsSoap12Endpoint"></soap12:address>
		</wsdl:port>
		<wsdl:port name="MediaNotificationMpxTransformServiceHttpsEndpoint" binding="ns1:MediaNotificationMpxTransformServiceHttpBinding">
			<http:address location="https://localhost:8244/services/MediaNotificationMpxTransformService.MediaNotificationMpxTransformServiceHttpsEndpoint"></http:address>
		</wsdl:port>
		<wsdl:port name="MediaNotificationMpxTransformServiceHttpEndpoint" binding="ns1:MediaNotificationMpxTransformServiceHttpBinding">
			<http:address location="http://localhost:8281/services/MediaNotificationMpxTransformService.MediaNotificationMpxTransformServiceHttpEndpoint"></http:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>