PubOrchMediaNotificatoinApplicationProject/PubOrchMediaNotificationBPELProject/bpelContent/ProductDefinitionService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://ws.wso2.org/dataservice" xmlns:ns1="http://service.skytv.co.nz/puborch-productdef/v1"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://model.skytv.co.nz/puborch-productiondef/v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://service.skytv.co.nz/puborch-productdef/v1">
	<wsdl:documentation></wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://model.skytv.co.nz/puborch-productiondef/v1">
			<xs:element name="assetType" type="ns0:assetType"></xs:element>
			<xs:complexType name="assetType">
				<xs:sequence>
					<xs:element name="assetTypeId" nillable="true" type="xs:string"></xs:element>
					<xs:element name="description" nillable="true" type="xs:string"></xs:element>
					<xs:element name="mediaType" nillable="true" type="xs:string"></xs:element>
					<xs:element name="url" nillable="true" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service.skytv.co.nz/puborch-productdef/v1">
			<xs:import namespace="http://model.skytv.co.nz/puborch-productiondef/v1"></xs:import>
			<xs:element name="GetVideoTypes">
				<xs:complexType>
					<xs:sequence></xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetVideoTypesResponse" type="ns1:GetVideoTypesResponse"></xs:element>
			<xs:complexType name="GetVideoTypesResponse">
				<xs:sequence>
					<xs:element minOccurs="0" ref="ns0:assetType"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
			<xs:element name="DataServiceFault" type="xs:string"></xs:element>
			<xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
			<xs:element name="DATA_SERVICE_RESPONSE">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0"></xs:any>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetVideoTypesRequest">
		<wsdl:part name="parameters" element="ns1:GetVideoTypes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetVideoTypesResponse">
		<wsdl:part name="parameters" element="ns1:GetVideoTypesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DataServiceFault">
		<wsdl:part name="parameters" element="ns2:DataServiceFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ProductDefinitionServicePortType">
		<wsdl:operation name="GetVideoTypes">
			<wsdl:documentation></wsdl:documentation>
			<wsdl:input message="ns1:GetVideoTypesRequest" wsaw:Action="urn:GetVideoTypes"></wsdl:input>
			<wsdl:output message="ns1:GetVideoTypesResponse" wsaw:Action="urn:GetVideoTypesResponse"></wsdl:output>
			<wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:GetVideoTypesDataServiceFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProductDefinitionServiceSOAP11Binding" type="ns1:ProductDefinitionServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<wsdl:operation name="GetVideoTypes">
			<soap:operation soapAction="urn:GetVideoTypes" style="document"></soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="DataServiceFault">
				<soap:fault use="literal" name="DataServiceFault"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProductDefinitionServiceSOAP12Binding" type="ns1:ProductDefinitionServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
		<wsdl:operation name="GetVideoTypes">
			<soap12:operation soapAction="urn:GetVideoTypes" style="document"></soap12:operation>
			<wsdl:input>
				<soap12:body use="literal"></soap12:body>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"></soap12:body>
			</wsdl:output>
			<wsdl:fault name="DataServiceFault">
				<soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProductDefinitionServiceHttpBinding" type="ns1:ProductDefinitionServicePortType">
		<http:binding verb="POST"></http:binding>
		<wsdl:operation name="GetVideoTypes">
			<http:operation location="GetVideoTypes"></http:operation>
			<wsdl:input>
				<mime:content type="text/xml" part="parameters"></mime:content>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters"></mime:content>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProductDefinitionService">
		<wsdl:port name="ProductDefinitionSOAP11Endpoint" binding="ns1:ProductDefinitionServiceSOAP11Binding">
			<soap:address location="http://localhost:9769/services/ProductDefinitionService.SOAP11Endpoint/"></soap:address>
		</wsdl:port>
		<wsdl:port name="ProductDefinitionSecureSOAP11Endpoint" binding="ns1:ProductDefinitionServiceSOAP11Binding">
			<soap:address location="https://localhost:9449/services/ProductDefinitionService.SecureSOAP11Endpoint/"></soap:address>
		</wsdl:port>
		<wsdl:port name="ProductDefinitionSecureSOAP12Endpoint" binding="ns1:ProductDefinitionServiceSOAP12Binding">
			<soap12:address location="https://localhost:9449/services/ProductDefinitionService.SecureSOAP12Endpoint/"></soap12:address>
		</wsdl:port>
		<wsdl:port name="ProductDefinitionSOAP12Endpoint" binding="ns1:ProductDefinitionServiceSOAP12Binding">
			<soap12:address location="http://localhost:9769/services/ProductDefinitionService.SOAP12Endpoint/"></soap12:address>
		</wsdl:port>
		<wsdl:port name="ProductDefinitionHTTPEndpoint" binding="ns1:ProductDefinitionServiceHttpBinding">
			<http:address location="http://localhost:9769/services/ProductDefinitionService.HTTPEndpoint/"></http:address>
		</wsdl:port>
		<wsdl:port name="ProductDefinitionSecureHTTPEndpoint" binding="ns1:ProductDefinitionServiceHttpBinding">
			<http:address location="https://localhost:9449/services/ProductDefinitionService.SecureHTTPEndpoint/"></http:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>